{% extends 'blog/base_page.html' %}
    {% block title %}
        <title>Post</title>
    {% endblock %}

{% block content %}
    <div class="post">
        {% if user == blog.author.username %}
        <a href="{% url 'post_edit' pk=post.id %}">Rewrite post</a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <p>{{ post.created_date }}</p>
    {% if user %}
        <a href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a><br>
    {% endif %}
    <h4 >Comments:</h4>
    {% for comment in post.comments.all|dictsort:"created_date" %}

        {% if comment.parent_id == Null %}
        <hr>
        <p><strong>{{ comment.author }}</strong></p>
            <p>{{ comment.text|linebreaks }}</p>
            <a href="{% url 'reply_to_comment' pk=comment.id %}">Reply</a>
            <p>{{ comment.created_date }}</p>
        {% endif %}
        {% for reply in post.comments.all|dictsort:"created_date"%}
            {% if reply.parent_id == comment.id %}
                <div class="reply">
                <p><strong>{{ reply.author }}</strong></p>
                <p>{{ reply.text|linebreaks }}</p>
                <a href="{% url 'reply_to_comment' pk=comment.id %}">Reply</a>
                <p>{{ reply.created_date }}</p>
                </div>
            {% endif %}
        
        {% endfor %}
        
        
        
        
    {% empty %}
        <p>No comments here yet :(</p>
{% endfor %}
    </div>

{% endblock %}