{% extends 'blog/base_page.html' %}
    {% block title %}
        <title>Posts</title>
    {% endblock %}
{% block content %}
    {% if user == blog.author.username %}
        <a href="{% url 'post_new' pk=blog.pk %}">New post</a>
    {% endif %}
{% for post in blog.posts.all|dictsortreversed:"created_date"%}
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaksbr }}</p>

    {% if user == blog.author.username %}
    <a href="{% url 'post_edit' pk=post.pk %}">Edit post</a><br>
    {% endif %}
    Comments: {{ post.comments.count }}<br>
    Created: {{ post.created_date }}
{% endfor %}
{% endblock %}